* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.game-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(129, 243, 243, 0.904);
  color: white;
  position: relative;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 10px;
  margin: 20px auto;
}
.cell {
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}
.cell:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}
#strike {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
#status {
  font-size: 20px;
  margin: 10px 0;
}
#resetBtn {
  background: #46c2a9;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
#resetBtn:hover {
  background: #37a590;
}
